html, body{
background-color: white;
color: black;
font-family: 'Times New Roman', Times, serif;
}

.topo{
background-color: green;
}

.fim{
background-color: blueviolet;
}

.topo img {
    width: 500px;
    display: block;
    margin: 0 auto;
}

.meio {
    background-color: gray;
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
}


.produto {
    width: 220px;
    text-align: center;
}

.produto img {
    width: 100%;
    border-radius: 10px;
    border: 2px solid red;
}

.produto a {
    display: block;
    background: black;
    color: white;
    padding: 10px;
    margin-top: 10px;
    text-decoration: none;
}
