html, body {
    margin: 0;
    padding: 0;
    background-color: rgb(0, 0, 0);
    font-family: 'Times New Roman', Times, serif;
}

.topo {
    background-color: rgb(180, 180, 180);
    color: black;
    padding: 30px;
    text-align: center;
}

.meio {
    background-color: rgb(255, 255, 255);
    padding: 40px;
    display: flex;
    gap: 20px;
    justify-content: center;
}

.meio a {
    background-color: rgba(0,0,0,0.3);
    color: black;
    text-decoration: none;
    padding: 15px 25px;
    border-radius: 8px;
    font-size: 18px;
}

.meio a:hover {
    background-color: rgba(0,0,0,0.5);
}

.fim {
    background-color: darkgray;
    padding: 30px;
    text-align: center;
}

.fim p {
    color: black;
}
